<html>
	<head>
		<title>module1-solution</title>
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body ng-app="module1">
		<div ng-controller="mainController" style="width:30%">
			<h2>Enter items separated with comma</h2>
			<input type="text" ng-model="items">
			<button ng-click="checkItems()">Check If Too Much</button> 
			<div ng-model="count">Items count is {{count}}</div>
			<div style="color:{{color}};border:1px solid {{color}}">{{message}}</div>
			<div>Fixed empty values example : item1, </div>
		</div>
	</body>
</html>